body {
  font-family: "Teko", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p,
div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  background-color: #005bbf;
}

main {
  flex-grow: 1;
  background-color: rgb(15, 15, 15);
  color: rgb(195, 225, 250);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffd500;
}

h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0.5;
  font-size: 36px;
}

.container {
  padding: 0 32px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 20px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}

#userInput {
  height: 50px;
  width: 80%;
  border: none;
  border-radius: 3px;
  background-color: rgb(195, 225, 250);
  font-size: 24px;
  font-weight: 300;
}

.startBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgb(195, 225, 250);
  padding: 5px 10px;
  line-height: normal;
  font-weight: bold;
}
.startBtn:hover {
  background-color: rgb(246, 250, 195);
}

.wordHolder {
  width: 100%;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-bottom-right-radius: 40px;
}

.leterElem {
  display: inline-block;
  /* border: 1px solid red; */
  /* border-radius: 3px; */
  /* padding: 3px; */
  font-size: 48px;
  line-height: 1;
}

.selected {
  color: blue;
}

.highlight-rectangle {
  position: absolute;
  border: 1px dotted darkorange;
}

.hidden{
  display: none;
}